Source: ros-hydro-uwsim-osgworks
Section: misc
Priority: extra
Maintainer: Mario Prats <marioprats@gmail.com>
Build-Depends: debhelper (>= 9.0.0), cmake, libboost-all-dev, libgl1-mesa-dev, libglu1-mesa-dev, libopenscenegraph-dev, libopenscenegraph80, libopenthreads-dev, libopenthreads14, openscenegraph
Homepage: 
Standards-Version: 3.9.2

Package: ros-hydro-uwsim-osgworks
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, libgl1-mesa-dev, libglu1-mesa-dev, libopenscenegraph-dev, libopenscenegraph80, libopenthreads-dev, libopenthreads14, openscenegraph, ros-hydro-catkin
Description: The OSG Works library adapted to UWSim. See https://code.google.com/p/osgworks
